page-login 
{   
    #bold 
    {
        font-weight: bold;
    }

    form
    {
        margin-top: 125px;
        margin: 0 !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
    }
    
    ion-content
    { 
        position: relative;
        opacity: .85;
        //margin-top: 25px;
        
        background: linear-gradient(to bottom, rgba(133,133,133,1), rgba(0,0,0,.25)), url("../assets/img/loginBackground.png") no-repeat;
        background-size:500px 670px;
        //margin-bottom:0%;
    }

    ion-input[type="email"],ion-input[type="password"]
    {
        font-family: HelveticaNeue-Medium;
        letter-spacing: 1.43;
        margin: 5px !important;
        padding: 0 !important;
        margin-left: 0px !important;
        font-size: 12px;
        color: #FFFFFF !important;
    }
     
    img {
        height: 65px;
        width: 117px;
        margin-top: 25%;
        margin-left: 29%;
    }

    ion-label
    {
        font-family: HelveticaNeue-Medium;
        letter-spacing: 1.43;
        margin: 5px !important;
        padding: 0 !important;
        margin-left: 0px !important;
        font-size: 12px;
        color: #FFFFFF !important;
    }
    
    .container 
    {  
        display:block;
       // margin: auto;
        padding:10px;
        margin-top: 30%;
        margin-left: 10%;
        //top:200px;
    }
        
    .item.item-trns 
    {
        background: rgba(216,216,216,0.10);
        border: 2px solid #ffffff;
        border-radius: 12px;
        border-width: 2px 2px 2px 2px;
        margin-bottom: 8px;
       
    }

    .forgotpwd 
    { 
        font-family: HelveticaNeue-Medium;
        font-size: 10px;
        color: #FFFFFF;
        letter-spacing: 1px;
        margin: 10px auto;
    }
    
    .signIn 
    {
        background: rgba(216,216,216,0.13);
        border: 1px solid #ffffff;
        border-radius: 12px;
        border-width: 2px 2px 2px 2px;
        color: #FFFFFF !important;        
        font-size: 15px;
        margin-top: 10px;
        padding: 14px 50px;
        //margin:auto;
    }

    .social{
        display:block;
        //margin:auto;
        padding-left:30px;
    }
    .socialBtn 
    {        
        margin-left: 40%;
        padding-top: 40px;  
    }
    
    #button{
        height:25px;
        width:25px;
        margin-left:40%;
       
    }
    #fbbutton{
        height:25px;
        width:25px;
        margin-left:2.5%;
    }
    .icon{
        font-size: 20px;
        padding-right:15px;
        //padding-bottom:10px;
       // padding-top: 10px;
       
       
    }
    .some_class{
        color:white;
        font-size:12px;
        //display:block;
       // margin:auto;
        padding-left:30px;
        top:0px;
        
       
    }
}    