page-register {

    #item1 {
        border-top: none;
    }
    /*   
    .alert-danger {
        border: 1px solid;
        color: #D8000c;
        padding: 5px 7px 5px 5px;
        background-color:#FFBABA;    
    }
  
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #42A948; 
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
    }

    .signUp 
    {
        background: rgba(216,216,216,0.20);
        border: 1px solid #ffffff;
        border-radius: 10px;
        color: #FFFFFF;        
        font-family: HelveticaNeue-Medium;
        font-size: 25px;
        margin-left: 35%;
    }
*/

    .item.item-trns 
    {
        float: left;
        clear: none;
        border-color: rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        color: white;
    }
    
    .wrapper 
    {
        margin-top: 22px;
    }

    form 
    {
        margin-top: 150px;
        display: inline-block;
        text-align: center;
    }

    ion-content
    { 
        position: relative;
        opacity: .85;
        background: linear-gradient(to bottom, rgba(133,133,133,1), rgba(0,0,0,.25)), url("../assets/img/loginBackground.png");
    }
    
    ion-input
    {   
        width: 125px;
        color: black;
        opacity: 1;
        letter-spacing: 1.43px;        
        font-family: HelveticaNeue-Medium;
        font-size: 12px;
        margin: -2px;
    }  

    ion-input[type="text"], ion-input[type="password"],ion-input[type="email"] {
        font-family: HelveticaNeue-Medium;
        margin-left: 16px;
        font-size: 12px;        
        color: white !important;
    }

}
