page-redeem {

    ion-navbar 
    {
        letter-spacing: .10em;
    }

    .body 
    {
        background: linear-gradient(to bottom, rgba(133,133,133,.6), rgba(0,0,0,.25));
    }

    .help
    {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        font-size: 14px;
        color: #FFFFFF; //defines color of help icon
    }

    .menu 
    {
        color: #FFFFFF;
    }

    .toolbar-background
    {
        background: linear-gradient(to top, rgba(133,133,133,.2), rgba(0,0,0,.8));
    }

    .toolbar-title-ios 
    {
        color: #FFFFFF;
    }
    #button{
        
        height:25px;
        width:25px;
        position:absolute;
        top:27px;
        right:17px;
       
    }
    .icon{
        font-size:22px;
    }
    .redeem_body{
        width:90%;
        height:400px;
        background-color:#FFFFFF;
        margin-bottom:20px;
        border-radius:25px;
        position:absolute;
        bottom:-10%;
        left:5%;
        
    }
   .user_img_portrait
{
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    position: absolute;
    top:15%;
    left:28%

}
.user_img{
   background-color:green;
    
    border-radius: 50%;
    height: 145px;
    width: 145px;
    position: absolute;
    top:16%;
    left:30%;
    z-index: 999;

}
.points h6{
    position:absolute;

    left:6%;
    top:3%;
}
.points p{
    position: absolute;
    font-weight:bold;
    color: #888888;
    left:12%;
    top:6%;
}
.points ion-icon{
    position:absolute;
    color: black;

    left:12%;
    top: 0%;
    font-size: 300%;
    font-weight: bold;
}

.location ion-icon{
    position: absolute;
    right:10%;
    top:1%;
   color:black;
  
    font-size: 200%;
}
.location p{
    position: absolute;
    color: #888888;
    font-weight:bold;
   
    right:3%;
    top:6%;
}
.redeem_item{
    width:90px;
    height:90px;
    background-color:#D8D8D8;
    border-radius:25%;
    position: absolute;
    top:23%;
    left:10%;

}
.redeem_item2{
    width:90px;
    height:90px;
    background-color:red;
    border-radius:25%;
    position: absolute;
    top:23%;
    left:80%;

}
.some_bar h6{
    color:#888888;
    position:absolute;
    top: 18%;
    left:40%
}
.header_bar{
    height:2px;
    width:90%;
    background-color:#979797;
    position:absolute;
    top:16%;
    left:5%;
    

}
}
