page-home {
     
    //Used to move the pager dots around.
    div.swiper-pagination 
    {
        top: 42%;
        bottom: inherit;
    }

    ion-navbar 
    {
        letter-spacing: .10em;
    }

    p
    {
        color: #FFFFFF;
        font-size: 14px;
    }
    
    .body 
    {
        background: linear-gradient(-180deg, #494949 0%, #000000 100%);//linear-gradient(to bottom, rgba(133,133,133,.6), rgba(0,0,0,.25));
    }

    .help
    {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        font-size: 14px;
        color: #FFFFFF; //defines color of help icon
    }

    .menu 
    {
        color: #FFFFFF;
    }

    //Used to change the colors of the ion-slides pager dots.
    .swiper-pagination {
        bottom:0px;
        .swiper-pagination-bullet {
            background: gold;
            margin: 0 3px;
        }
    }

    .toolbar-background
    {
        background: linear-gradient(to top, rgba(133,133,133,.2), rgba(0,0,0,.8));
    }

    .toolbar-title-ios 
    {
        color: #FFFFFF;
    }
    #button{
        
        height:25px;
        width:25px;
        position:absolute;
        top:27px;
        right:17px;
       
    }
    .icon{
        font-size:22px;
    }
    .title{
        text-align: center; 

    }
    .title2{
        text-align: center;
    }
    .title3{
        text-align: center;
    }
    .title4{
        text-align: center;
    }
    .navbar{
        //border-width: 10px;
       // border-color:white;
    }
    .slide-photo{
        height:450px;
        width:450px;
        position: absolute;
        top:-4%;
        left:-23%;
    }
    .slide-photo1{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
    .slide-photo2{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
    .slide-photo3{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
}
