page-home {
   
    //Used to move the pager dots around.
    div.swiper-pagination 
    {
        top: 42%;
        bottom: inherit;
    }

    ion-navbar 
    {
        letter-spacing: .10em;

        height:70px;
    }

     p
    {
        color: #ffffff;
        
        font-size: 14px;
    }
    
    .body 
    {
        background: linear-gradient(to bottom, rgba(133,133,133,.6), rgba(0,0,0,.25));
        //background: linear-gradient(-180deg, #494949 70%, #494949 100%);//linear-gradient(to bottom, rgba(133,133,133,.6), rgba(0,0,0,.25));
    }

    .help
    {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        font-size: 14px;
        color: #FFFFFF; //defines color of help icon
    }

    .menu 
    {
        color: #FFFFFF;

    }

    //Used to change the colors of the ion-slides pager dots.
    .swiper-pagination {
        bottom:0px;
        .swiper-pagination-bullet {
        
            background-image: linear-gradient(-180deg, #FBFA90 0%, #DFDE11 98%);
            //background: gold;
            margin: 0 3px;
        }
    }

    .toolbar-background
    {
        background: linear-gradient(to top, rgba(133,133,133,.2), rgba(0,0,0,.8));
    }

    .toolbar-title-ios 
    {
        color: #FFFFFF;
    }
    #menu{
        height:18pt;
        width:30pt;
        position:absolute;
        top:25%;
        left:90%;
 

    }
    ion-navbar p{

        position: absolute;
        top:30%;
        left:30%;
        color:#FFFFFF !important;
        font-size:18px;
    }
    #button{
        
        height:30px;
        width:30px;
        position:absolute;
        top:50%;
        right:5%;
        //top:27px;
        //right:17px;
       
    }
    .icon{
        font-size:22px;
    }
    .title{
        text-align: center; 
        position:absolute;
        left: 6%;
        top:45%;

    }
    .title2{
        text-align: center;
       // margin-top: 35%;
        position:absolute;
        left: 6%;
        top:45%;
    }
    .title3{
        text-align: center;
        position:absolute;
        left: 30%;
        top:45%;
    }
    .title4{
        text-align: center;
        position:absolute;
        left: 0%;
        top:45%;
    }
    .navbar{
        //border-width: 10px;
       // border-color:white;
    }
    .slide-photo{
        height:450px;
        width:450px;
        position: absolute;
        top:0%;
        right:-15%;
    }
    .slide-photo1{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
    .slide-photo2{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
    .slide-photo3{
        height:150px;
        width:150px;
        position: absolute;
        top:5%;
        right:27%;
    }
    /*adding stuff*/
    .card-background-page {
        position: absolute;
        top:50%;
        left:0%;


        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      
}
/* Combined Shape: */
//background-image: radial-gradient(50% 100%, #FFFD87 23%, #FFFEBB 45%, #FFFE61 3%, #FFFE00 86%);