page-setting {

    ion-navbar 
    {
        letter-spacing: .10em;
    }

    .body 
    {
        background: linear-gradient(to bottom, rgba(133,133,133,.6), rgba(0,0,0,.25));
    }

    .help
    {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        font-size: 14px;
        color: #FFFFFF; //defines color of help icon
    }

    .menu 
    {
        color: #FFFFFF;
    }

    .toolbar-background
    {
        background: linear-gradient(to top, rgba(133,133,133,.2), rgba(0,0,0,.8));
    }

    .toolbar-title-ios 
    {
        color: #FFFFFF;
    }
    #button{
        
        height:25px;
        width:25px;
        position:absolute;
        top:27px;
        right:17px;
       
    }
    .icon{
        font-size:22px;
    }
    .support_content h2{
        color: #D3D3D3;
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
       
    }
    .account_settings h2{
        color: #D3D3D3;
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
    }
    .support_panel{
        width:100%;
        height:100px;
        background-color:#D9D9D9;
        margin-bottom:20px;
        border-radius:25px;
    }
    .account_panel{
        width:100%;
        height:220px;
        background-color:#D9D9D9;
        margin-bottom:20px;
        border-radius:25px;

    }
}
